In [5]:
# pipeline injestion_transform.py
from pathlib import Path
import yfinance as yf
import pandas as pd

# --- Safe path for GitHub or Streamlit deployment ---
BASE_DIR = Path().resolve().parent  # adjust `.parent` depending on notebook location
DATA_PATH = BASE_DIR / "data"
DATA_PATH.mkdir(exist_ok=True)



# Step 1: Fetch data from Yahoo Finance 
btc_tick = yf.Ticker("BTC-USD")
hist = btc_tick.history(interval= '1h', period= '7d') # 7days of hourly data

# Convert index from UTC to local time (e.g., US/Pacific)
hist.index = hist.index.tz_convert('US/Pacific').tz_localize(None)

hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2025-06-07 17:00:00,105633.796875,105685.078125,105507.710938,105521.320312,0,0.0,0.0
2025-06-07 18:00:00,105527.281250,105804.617188,105471.726562,105753.312500,1065693184,0.0,0.0
2025-06-07 19:00:00,105754.171875,105754.171875,105540.976562,105540.976562,0,0.0,0.0
2025-06-07 20:00:00,105536.968750,105552.632812,105461.281250,105543.210938,0,0.0,0.0
2025-06-07 21:00:00,105545.046875,105678.937500,105476.328125,105651.523438,0,0.0,0.0

In [6]:
# Reset and rename
hist = hist.reset_index()
btc = hist[["Datetime", "Close"]]
btc.rename(columns={"Datetime": "timestamp", "Close" : "price"}, inplace=True)
btc.set_index("timestamp", inplace=True)

btc.head()

/var/folders/zh/n835cjwn06s8mgkq7j7c8hj80000gn/T/ipykernel_5774/3897577257.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  btc.rename(columns={"Datetime": "timestamp", "Close" : "price"}, inplace=True)

                             price
timestamp
2025-06-07 17:00:00  105521.320312
2025-06-07 18:00:00  105753.312500
2025-06-07 19:00:00  105540.976562
2025-06-07 20:00:00  105543.210938
2025-06-07 21:00:00  105651.523438

In [7]:
btc.to_csv(DATA_PATH / "btc_hourly_yf.csv", index=True)
print("✅ BTC hourly price saved to data/btc_hourly_yf.csv")

✅ BTC hourly price saved to data/btc_hourly_yf.csv

In [8]:
btc.tail()

                             price
timestamp
2025-06-14 11:00:00  104915.703125
2025-06-14 12:00:00  104736.453125
2025-06-14 13:00:00  104908.320312
2025-06-14 14:00:00  105445.156250
2025-06-14 15:00:00  105513.789062